<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.coffee.mapper.CommonMapper">
<!-- 
	Sell DB Mapper
	작성자 : 김영섭
	내용 : SELL 데이터쿼리문 등록 및 저장
 -->
 <select id="getSellList" parameterType="search" resultType="kr.co.coffee.sell.domain.SellListVO">
 <![CDATA[
 	SELECT 
 	s.SELL_CD,
 	 s.SELL_DATE,
 	  m.MENU_CD,
 	   m.MENU_NAME,
 	    s.SELL_CNT,
 	     s.SELL_CNT*m.MENU_SP total_SP 
 	     FROM SELL s LEFT JOIN MENU m
 	      ON s.MENU_CD=m.MENU_CD
 	       ]]>
 	      <where>
 	      <if test="searchDiv == 1">
	 		 <if test='searchValue != null and searchValue != ""'>
	 	 	<![CDATA[	AND m.MENU_NAME LIKE CONCAT('%',#{searchValue},'%')]]>
	 	 	</if>
	 	 	<!-- <if test='searchValue != null and searchValue != "" 
	 	 	and startDate != null and startDate !="" and endDate !=null and endDate !=""'>
	 	 		AND m.MENU_NAME LIKE CONCAT('%',#{searchValue},'%') AND s.SELL_DATE BETWEEN 
	 	 		#{startDate} AND #{endDate}
	 	 	</if> -->
	 	 </if>
     	 <if test='searchDiv == 2'>
	        <if test='searchValue != null and searchValue != ""'>
		        	<![CDATA[	AND s.SELL_CD LIKE CONCAT('%',#{searchValue},'%')]]>
		    </if>
		   <!--  <if test='searchValue != null and searchValue != "" 
	 	 	and startDate != null and startDate !="" and endDate !=null and endDate !=""'>
	 	 		AND s.SELl_CD LIKE CONCAT('%',#{searchValue},'%') AND s.SELL_DATE BETWEEN 
	 	 		#{startDate} AND #{endDate}
	 	 	</if> -->
	      </if>
	      </where>
 	   <![CDATA[   ORDER BY s.SELL_CD DESC
 	      LIMIT #{startCount} , 10 ]]>
 </select>
 
 <select id="getTotalCount" parameterType="search" resultType="int">
  <![CDATA[	SELECT COUNT(*)
 	 FROM SELL s LEFT JOIN MENU m
 	 ON s.MENU_CD=m.MENU_CD ]]>
 	 <where>
 	 <if test="searchDiv == 1">
 		 <if test='searchValue != null and searchValue != ""'>
 	 	 <![CDATA[	AND m.MENU_NAME LIKE CONCAT('%',#{searchValue},'%') ]]>
 	 	</if>
 	 <!-- 	<if test='searchValue != null and searchValue != "" 
 	 	and startDate != null and startDate !="" and endDate !=null and endDate !=""'>
 	 		AND m.MENU_NAME LIKE CONCAT('%',#{searchValue},'%') AND s.SELL_DATE BETWEEN 
 	 		#{startDate} AND #{endDate}
 	 	</if> -->
 	 </if>
      <if test='searchDiv == 2'>
        <if test='searchValue != null and searchValue != ""'>
	        <![CDATA[ 	AND s.SELL_CD LIKE CONCAT('%',#{searchValue},'%') ]]>
	    </if>
	   <!--  <if test='searchValue != null and searchValue != "" 
 	 	and startDate != null and startDate !="" and endDate !=null and endDate !=""'>
 	 		AND s.SELl_CD LIKE CONCAT('%',#{searchValue},'%') AND s.SELL_DATE BETWEEN 
 	 		#{startDate} AND #{endDate}
 	 	</if> -->
      </if> 
     </where> 	 
 </select>
 <select id="detail_Sell" parameterType="String" resultType="kr.co.coffee.sell.domain.SellListVO">
 	<![CDATA[
 		SELECT s.SELL_CD, s.SELL_DATE, m.MENU_CD,
 	   m.MENU_NAME, s.sell_CNT, s.SELL_CNT*m.MENU_SP total_SP, r.ing_cd, i.ing_NM, r.menu_amount
       FROM ERP_Schema.SELL s left Join ERP_Schema.MENU m on s.menu_cd=m.menu_cd left join ERP_Schema.RECIPIE r on
m.menu_cd=r.menu_cd left join ERP_Schema.INGREDIENT i on r.ing_cd=i.ing_cd WHERE s.SELL_CD=#{togggle_value}
 	]]>
 </select>
 <!-- 메뉴데이터 불러오기 -->
 <select id="menu_search" parameterType="String" resultType="kr.co.coffee.menu.domain.MenuVO">
 	<![CDATA[
 		SELECT MENU_CD, MENU_NAME, MENU_SP FROM MENU WHERE MENU_NAME LIKE CONCAT('%',#{search_text},'%')
 	]]>
 </select>
 <!-- 인서트전 최근 코드를 검색 -->
 <select id="search_insert_code" parameterType="String" resultType="String">
 SELECT SELL_CD FROM ERP_Schema.SELL WHERE SELL_CD LIKE CONCAT('%',#{codeSL},'%') ORDER BY SELL_CD DESC LIMIT 1
 </select>
 <!-- insert문 추가 -->
 <insert id="sell_insert" parameterType="sellInsVO">
 <![CDATA[
  INSERT INTO ERP_Schema.SELL
   VALUES(#{code_SL},now(),#{click_code},#{click_count})
 	]]>	
 </insert>
 
 	<delete id="SLDeleteChecked" parameterType="String" >
		<![CDATA[
			DELETE 
				FROM SELL
			    WHERE SELL_CD = #{deleteChecked};
		]]>
	</delete> 
</mapper>